.container {
  margin: 0 auto;
  padding: 50px 50px;
}
.wrapper {
  padding: 20px;
  min-height: 70vh;

  border: 1px solid #bfbfbf;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(216, 243, 253);
  box-shadow: 10px 10px 5px #92cff7;
}

.formWrapper {
  display: flex;
  justify-content: space-around;
}
.noteValue {
  align-content: center;
  width: 50%;

  &__button {
    text-align: center;
    width: inherit;
  }
}
.inputButton {
  margin: 20px !important;
}
.tegButton {
  margin-top: 26px !important;
}
@media (max-width: 1029px) {
  .container {
    width: 1000;
    padding: 15px 15px;
  }
  .formWrapper {
    display: block;
  }
  .noteValue {
    width: 100%;
  }
}
