.listItemWrapper {
  border: 1px solid #aaa;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(238, 242, 250);
  box-shadow: 3px 3px 2px #6ba2c7;
}
.listItemHight {
  color: red;
}

.tegButton {
  margin-left: 15px !important;
}
@media (max-width: 600px) {
  .listItemWrapper {
    display: block !important;
    text-align: center !important;
  }
  .cardItemHide {
    display: none !important;
  }
}
